* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    background-color: #F7F0D4;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #4424D6;
}
  
li a {
    display: block;
    color: #110934;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
  
li a:hover {
    background-color: #FCCB1A;
    color: #110934;
    width: 200px;
}

.button {
    float: right;
    margin: 10px;
    padding: 10px;
    background-color:#110934;
    text-decoration: none;
    color:#F7F0D4;
    font-size: 25px;
}

.button:hover {
    background-color: #FCCB1A;
    color:#110934;
}

.address {
    float: right;
    color:#110934;
    padding: 35px;
    font: 25px;
    font-weight: bolder;
}

.apart {
    float: right;
}

.gallery {
   text-align: center;
   float:right;
   
}